#map-canvas { 
    height: 100%; 
    width: 100%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 270px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    color: white;
    opacity: 0.95;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}
.list-group .list-group-item {
    border-radius: 0;
    cursor: move;
}

.list-group .list-group-item:hover {
    background-color: #111;
}

.controls {
    text-indent: 5px;
}

.mb-0 {
    text-indent: 5px;
}

#routes {
    padding-bottom: 20px;
}